resource-group/.terraform/
storage-account/.terraform/
terraform-vm-module/vm1/.terraform/
terraform-vm-module/vm2/.terraform/
resource-group/providers.tf
storage-account/providers.tf
terraform-vm-module/vm1/providers.tf
terraform-vm-module/vm2/providers.tf
resource-group/terraform.tfstate
storage-account/terraform.tfstate
terraform-vm-module/vm1/terraform.tfstate
terraform-vm-module/vm2/terraform.tfstate
resource-group/terraform.tfstate.backup
storage-account/terraform.tfstate.backup
terraform-vm-module/vm1/terraform.tfstate.backup
terraform-vm-module/vm2/terraform.tfstate.backup